@charset "UTF-8";

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #18509D;
}

h1, p {
	color: white;
}

.jumbotron {
	background-color: #18509D;
}

a {
	color: yellow;
}

a:hover {
	color: #F09C06;
}