<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
<meta charset="UTF-8">
<title>SiLPH Inc.</title>

<!-- Link per il CSS di Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!--  Link per le icone di FontAwesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">

<!-- CSS locale per override -->
<link rel="stylesheet" href="CSS/silphbar.css">
<link rel="stylesheet" href="CSS/AddAlbumAndFotoPage.css">


<!-- Google fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Staatliches|Oswald|Ubuntu&display=swap"
	rel="stylesheet">
</head>
<body>

	<form th:action="@{'/fotografo/' + ${fotografo.id} + '/album'}"
		method="POST" enctype="multipart/form-data">
		Titolo Album <input th:field="${album.titoloAlbum}" name="titoloAlbum"/> Descrizione Album <input
			th:field="${album.descrizione}" name="descrizione"/> Titolo Foto <input
			th:value="${foto.titoloFoto}" name="titoloFoto" /> File <input type="file"
			accept="image/*" name="multipart" />
		<button type="submit">Do It!</button>
		<input>
	</form>
</body>
</html>