<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>SiLPH Inc.</title>

<!-- Link per il CSS di Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!--  Link per le icone di FontAwesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">

<!-- CSS locale per override -->
<link rel="stylesheet" href="/CSS/silphbar.css">
<link rel="stylesheet" href="/CSS/AddAlbumAndFotoPage.css">


<!-- Google fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Staatliches|Oswald|Ubuntu&display=swap"
	rel="stylesheet">
</head>
<body>
	<!-- Inizio Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#"> <i
			class="fas fa-camera-retro fa-fw silphbar-icon"></i>Silph Inc.
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="#">Fotografi</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Album</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Fotografie</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Moduli</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Cerca" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fas fa-file-alt selected-entry moduli-icon"></i></a>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"><i
						class="fas fa-user-alt fa-fw dropdown-icon"></i></a>
					<div
						class="dropdown-menu dropdown-menu-right silph-login-dropdown bg-dark rounded-0"
						aria-labelledby="navbarDropdown">
						<form class="px-4 py-3">
							<div class="form-group">
								<label for="exampleDropdownFormID1">ID Funzionario</label> <input
									type="text" class="form-control" id="exampleDropdownFormID1"
									placeholder="ID" size="30">
							</div>
							<div class="form-group">
								<label for="exampleDropdownFormPassword1">Password</label> <input
									type="password" class="form-control"
									id="exampleDropdownFormPassword1" placeholder="Password"
									size="30">
							</div>
							<button type="submit" class="btn btn-primary">Sign in</button>
						</form>
					</div></li>
			</ul>
		</div>
	</nav>
	<!-- Fine Navigation Bar -->

	<!-- Inizio Form -->
	<div class="container mx-auto album-foto-form">
		<h1 class="bd-title">Nuovo Album</h1>
		<form th:action="@{'/fotografo/' + ${fotografo.id} + '/album'}"
			method="POST" enctype="multipart/form-data">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3 class="text-muted">
							<i>Album</i>
						</h3>
						<div class="form-group">
							<label for="titoloAlbum">Titolo Album <span
								th:if="${#fields.hasErrors('${album.titoloAlbum}')}"
								th:errors="${album.titoloAlbum}"></span></label> <input
								placeholder="Inserisci il Titolo"
								th:field="${album.titoloAlbum}" class="form-control"
								name="titoloAlbum" id="titoloAlbum" />
						</div>
						<div class="form-group">
							<label for="descrizione">Descrizione Album <span
								th:if="${#fields.hasErrors('${album.descrizione}')}"
								th:errors="${album.descrizione}"></span></label>
							<textarea placeholder="Inserisci una breve Descrizione"
								class="form-control" th:field="${album.descrizione}"
								name="descrizione" id="descrizione"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Do It!</button>
					</div>
					<div class="col-md-6">
						<h3 class="text-muted">
							<i>Foto</i>
						</h3>
						<div class="form-group">
							<label for="titoloFoto">Titolo Foto <span
								th:if="${#fields.hasErrors('${foto.titoloFoto}')}"
								th:errors="${foto.titoloFoto}"></span></label> <input
								placeholder="Inserisci il Titolo" class="form-control"
								id="titoloFoto" th:field="${foto.titoloFoto}" name="titoloFoto" />
						</div>
						<div class="form-group">
							<label for="file">File </label><input
								placeholder="Seleziona la foto iniziale" class="form-control-file"
								type="file" accept="image/*" name="multipart" required/>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Fine Form -->


</body>
</html>