<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head profile="http://www.w3.org/2005/10/profile">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SiLPH Inc.</title>

<!-- Link per il CSS di Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!--  Link per le icone di FontAwesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">

<!-- CSS locale per override -->
<link rel="stylesheet" href="CSS/silphbar.css">
<link rel="stylesheet" href="CSS/hover.css">
<link rel="stylesheet" href="CSS/CompilaModuloPage.css">


<!-- Google fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Staatliches|Oswald|Ubuntu&display=swap"
	rel="stylesheet">
</head>
<body>


	<!-- Inizio Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/"> <i
			class="fas fa-camera-retro fa-fw silphbar-icon"></i>Silph Inc.
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/listFotografi">Fotografi</a></li>
				<li class="nav-item"><a class="nav-link" href="/listAlbum">Album</a></li>
				<li class="nav-item"><a class="nav-link" href="/listFoto">Fotografie</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" th:href="@{/listModuli}" style="color: #4169E1;">Moduli</a></li>
				<li class="nav-item" sec:authorize="isAnonymous()"><a
					class="nav-link" th:href="@{/loginFunzionario}"
					style="color: #4169E1;">Login</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="javascript: document.logoutForm.submit()"
					style="color: #4169E1;">Logout</a></li>
				<li sec:authorize="isAnonymous()" th:if="${session.fotoRichiesta != null}" class="nav-item"><a
					class="nav-link" th:href="@{/newModulo}"><i
						th:if="${session.fotoRichiesta.size() > 0}"
						class="fas fa-file-alt" style="color: #4169E1"><span
							th:text="${session.fotoRichiesta.size()}"
							style="color: #A4DE02; margin-left: 0.5rem;"></span></i></a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<form th:action="@{/search}" class="form-inline my-2 my-lg-0">
					<select class="form-control" name="entity">
					<option value="FOTO">Foto</option>
					<option value="ALBUM">Album</option>
					<option value="FOTOGRAFO">Fotografo</option></select>
						<input class="form-control mr-sm-2" type="search"
							placeholder="Cerca" aria-label="Cerca" name="query">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<form sec:authorize="isAuthenticated()" name="logoutForm"
		th:action="@{/logout}" method="post" th:hidden="true">
		<input hidden="true" type="submit" value="Sign Out" />
	</form>
	<!-- Fine Navigation Bar -->



	<!-- Inizio Sezione Modulo -->
	<div class="container mx-auto modulo">
		<h1 class="bd-title">Modulo Richiesta</h1>
		<form th:action="@{/modulo}" th:object="${modulo}" method="POST">
			<div class="container">
				<label for="foto-selezionate">Foto selezionate</label>
				<div class="row" id="foto-selezionate">

					<div th:each="fotoR, iStat: ${fotoRichiesta}"
						class="col-md-2 thumbcell">
						<div class="card mx-auto shadow-lg">
							<div class="hovereffect">
								<a th:href="@{'/foto/' + ${fotoR.id}}"> <img
									class="card-img"
									th:attr="src=@{'/immagine/' + ${fotoR.getImmagine().getId()}}" /></a>
								<div class="overlay">
									<a th:href="@{'/foto/' + ${fotoR.id} + '/rm'}"
										class="card-title top-right">&times;</a>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
			
			<p><a href="/listFoto">Aggiungi un'altra foto</a> o Compila il modulo se hai terminato.</p>
			<div class="form-group">
				<label for="oggetto">Oggetto <span
					th:if="${#fields.hasErrors('oggetto')}" th:errors="*{oggetto}"></span></label>
				<input th:field="*{oggetto}" type="text" class="form-control"
					id="oggetto" placeholder="Inserisci l'oggetto" />
			</div>
			<div class="form-group">
				<label for="messaggio">Messaggio <span
					th:if="${#fields.hasErrors('messaggio')}" th:errors="*{messaggio}"></span></label>
				<textarea th:field="*{messaggio}" class="form-control"
					id="messaggio"
					placeholder="Inserisci il messaggio per la richiesta" rows="10"></textarea>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome">Nome <span
						th:if="${#fields.hasErrors('nomeCliente')}"
						th:errors="*{nomeCliente}"></span></label> <input
						th:field="*{nomeCliente}" type="text" class="form-control"
						id="nome" placeholder="Nome" />
				</div>
				<div class="form-group col-md-6">
					<label for="cognome">Cognome <span
						th:if="${#fields.hasErrors('cognomeCliente')}"
						th:errors="*{cognomeCliente}"></span></label> <input
						th:field="*{cognomeCliente}" type="text" class="form-control"
						id="cognome" placeholder="Cognome" />
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email <span
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></label>
				<input th:field="*{email}" type="email" class="form-control"
					id="email" placeholder="mail@esempio.com" />
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="telefono">Telefono <span
						th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span></label>
					<input th:field="*{telefono}" type="text" class="form-control"
						id="telefono" placeholder="Telefono" />
				</div>
				<div class="form-group col-md-6">
					<label for="nomeAzienda">Nome Azienda <span
						th:if="${#fields.hasErrors('nomeAzienda')}"
						th:errors="*{nomeAzienda}"></span></label> <input
						th:field="*{nomeAzienda}" type="text" class="form-control"
						id="nomeAzienda" placeholder="Nome Azienda" />
				</div>
			</div>
			<div class="form-group">
				<label for="indirizzo">Indirizzo <span
					th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></span></label>
				<input type="text" th:field="*{indirizzo}" class="form-control"
					id="indirizzo" placeholder="Via Trabochetto 12" />
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="citta">Città <span
						th:if="${#fields.hasErrors('citta')}" th:errors="*{citta}"></span></label>
					<input type="text" th:field="*{citta}" class="form-control"
						id="citta" placeholder="Città" />
				</div>
				<div class="form-group col-md-4">
					<label for="nazione">Nazione <span
						th:if="${#fields.hasErrors('nazione')}" th:errors="*{nazione}"></span></label>
					<select th:field="*{nazione}" id="nazione" class="form-control">
						<option value="DEFAULT" selected>Scegli...</option>
						<option value="AF">Afghanistan</option>
						<option value="AX">Isole Åland</option>
						<option value="AL">Albania</option>
						<option value="DZ">Algeria</option>
						<option value="AS">Samoa Americana</option>
						<option value="AD">Andorra</option>
						<option value="AO">Angola</option>
						<option value="AI">Anguilla</option>
						<option value="AQ">Antartide</option>
						<option value="AG">Antigua e Barbuda</option>
						<option value="AR">Argentina</option>
						<option value="AM">Armenia</option>
						<option value="AW">Aruba</option>
						<option value="AU">Australia</option>
						<option value="AT">Austria</option>
						<option value="AZ">Azerbaijan</option>
						<option value="BS">Bahamas</option>
						<option value="BH">Bahrain</option>
						<option value="BD">Bangladesh</option>
						<option value="BB">Barbados</option>
						<option value="BY">Belarus</option>
						<option value="BE">Belgio</option>
						<option value="BZ">Belize</option>
						<option value="BJ">Benin</option>
						<option value="BM">Bermuda</option>
						<option value="BT">Bhutan</option>
						<option value="BO">Bolivia, stato plurinazionale di</option>
						<option value="BQ">Bonaire, Sint Eustatius e Saba</option>
						<option value="BA">Bosnia ed Erzegovina</option>
						<option value="BW">Botswana</option>
						<option value="BV">Isola Bouvet</option>
						<option value="BR">Brazil</option>
						<option value="IO">Territorio Britannico dell'Oceano
							Indiano</option>
						<option value="BN">Brunei Darussalam</option>
						<option value="BG">Bulgaria</option>
						<option value="BF">Burkina Faso</option>
						<option value="BI">Burundi</option>
						<option value="KH">Cambodia</option>
						<option value="CM">Camerun</option>
						<option value="CA">Canada</option>
						<option value="CV">Capo Verde</option>
						<option value="KY">Isole Cayman</option>
						<option value="CF">Repubblica centrafricana</option>
						<option value="TD">Chad</option>
						<option value="CL">Chile</option>
						<option value="CN">China</option>
						<option value="CX">Christmas Island</option>
						<option value="CC">Isole Cocos (Keeling)</option>
						<option value="CO">Colombia</option>
						<option value="KM">Comore</option>
						<option value="CG">Congo</option>
						<option value="CD">Congo, Repubblica Democratica del</option>
						<option value="CK">Isole Cook</option>
						<option value="CR">Costa Rica</option>
						<option value="CI">Costa d'Avorio</option>
						<option value="HR">Croatia</option>
						<option value="CU">Cuba</option>
						<option value="CW">Curaçao</option>
						<option value="CY">Cipro</option>
						<option value="CZ">Repubblica Ceca</option>
						<option value="DK">Danimarca</option>
						<option value="DJ">Djibouti</option>
						<option value="DM">Dominica</option>
						<option value="DO">Repubblica Dominicana</option>
						<option value="EC">Ecuador</option>
						<option value="EG">Egitto</option>
						<option value="SV">El Salvador</option>
						<option value="GQ">Guinea equatoriale</option>
						<option value="ER">Eritrea</option>
						<option value="EE">Estonia</option>
						<option value="ET">Etiopia</option>
						<option value="FK">Isole Falkland (Malvinas)</option>
						<option value="FO">Isole Faroe</option>
						<option value="FJ">Fiji</option>
						<option value="FI">Finlandia</option>
						<option value="FR">Francia</option>
						<option value="GF">Guyana francese</option>
						<option value="PF">Polinesia francese</option>
						<option value="TF">Territori Francesi del Sud</option>
						<option value="GA">Gabon</option>
						<option value="GM">Gambia</option>
						<option value="GE">Georgia</option>
						<option value="DE">Germania</option>
						<option value="GH">Ghana</option>
						<option value="GI">Gibilterra</option>
						<option value="GR">Greece</option>
						<option value="GL">Groenlandia</option>
						<option value="GD">Grenada</option>
						<option value="GP">Guadalupa</option>
						<option value="GU">Guam</option>
						<option value="GT">Guatemala</option>
						<option value="GG">Guernsey</option>
						<option value="GN">Guinea</option>
						<option value="GW">Guinea-Bissau</option>
						<option value="GY">Guyana</option>
						<option value="HT">Haiti</option>
						<option value="HM">Isole Heard Island e McDonald</option>
						<option value="VA">Santa Sede (Stato della Città del
							Vaticano)</option>
						<option value="HN">Honduras</option>
						<option value="HK">Hong Kong</option>
						<option value="HU">Ungaria</option>
						<option value="IS">Islanda</option>
						<option value="IN">India</option>
						<option value="ID">Indonesia</option>
						<option value="IR">Iran, Repubblica islamica di</option>
						<option value="IQ">Iraq</option>
						<option value="IE">Irlanda</option>
						<option value="IM">Isola di Man</option>
						<option value="IL">Israele</option>
						<option value="IT">Italia</option>
						<option value="JM">Jamaica</option>
						<option value="JP">Giappone</option>
						<option value="JE">Jersey</option>
						<option value="JO">Giordania</option>
						<option value="KZ">Kazakhstan</option>
						<option value="KE">Kenya</option>
						<option value="KI">Kiribati</option>
						<option value="KP">Korea, Repubblica popolare democratica
							di</option>
						<option value="KR">Korea, Republic of</option>
						<option value="KW">Kuwait</option>
						<option value="KG">Kirghizistan</option>
						<option value="LA">Repubblica democratica popolare del
							Laos</option>
						<option value="LV">Latvia</option>
						<option value="LB">Libano</option>
						<option value="LS">Lesotho</option>
						<option value="LR">Liberia</option>
						<option value="LY">Libya</option>
						<option value="LI">Liechtenstein</option>
						<option value="LT">Lituania</option>
						<option value="LU">Luxembourg</option>
						<option value="MO">Macao</option>
						<option value="MK">Macedonia, ex Repubblica jugoslava di
						</option>
						<option value="MG">Madagascar</option>
						<option value="MW">Malawi</option>
						<option value="MY">Malaysia</option>
						<option value="MV">Maldive</option>
						<option value="ML">Mali</option>
						<option value="MT">Malta</option>
						<option value="MH">Marshall Islands</option>
						<option value="MQ">Martinique</option>
						<option value="MR">Mauritania</option>
						<option value="MU">Mauritius</option>
						<option value="YT">Mayotte</option>
						<option value="MX">Messico</option>
						<option value="FM">Micronesia, Stati federati di</option>
						<option value="MD">Moldova, Republic of</option>
						<option value="MC">Monaco</option>
						<option value="MN">Mongolia</option>
						<option value="ME">Montenegro</option>
						<option value="MS">Montserrat</option>
						<option value="MA">Morocco</option>
						<option value="MZ">Mozambique</option>
						<option value="MM">Myanmar</option>
						<option value="NA">Namibia</option>
						<option value="NR">Nauru</option>
						<option value="NP">Nepal</option>
						<option value="NL">Paesi Bassi</option>
						<option value="NC">Nuova Caledonia</option>
						<option value="NZ">New Zealand</option>
						<option value="NI">Nicaragua</option>
						<option value="NE">Niger</option>
						<option value="NG">Nigeria</option>
						<option value="NU">Niue</option>
						<option value="NF">Norfolk Island</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="NO">Norvegia</option>
						<option value="OM">Oman</option>
						<option value="PK">Pakistan</option>
						<option value="PW">Palau</option>
						<option value="PS">Palestinian Territory, Occupied</option>
						<option value="PA">Panama</option>
						<option value="PG">Papua Nuova Guinea</option>
						<option value="PY">Paraguay</option>
						<option value="PE">Peru</option>
						<option value="PH">Filippine</option>
						<option value="PN">Pitcairn</option>
						<option value="PL">Poland</option>
						<option value="PT">Portugal</option>
						<option value="PR">Puerto Rico</option>
						<option value="QA">Qatar</option>
						<option value="RE">Réunion</option>
						<option value="RO">Romania</option>
						<option value="RU">Russian Federation</option>
						<option value="RW">Ruanda</option>
						<option value="BL">Saint Barthélemy</option>
						<option value="SH">Sant'Elena, Ascensione e Tristan da
							Cunha</option>
						<option value="KN">Saint Kitts e Nevis</option>
						<option value="LC">Saint Lucia</option>
						<option value="MF">Saint Martin (parte francese)</option>
						<option value="PM">Saint Pierre e Miquelon</option>
						<option value="VC">Saint Vincent e Grenadine</option>
						<option value="WS">Samoa</option>
						<option value="SM">San Marino</option>
						<option value="ST">Sao Tome e Principe</option>
						<option value="SA">Arabia Saudita </​​option>
						<option value="SN">Senegal</option>
						<option value="RS">Serbia</option>
						<option value="SC">Seychelles</option>
						<option value="SL">Sierra Leone</option>
						<option value="SG">Singapore</option>
						<option value="SX">Sint Maarten (parte olandese)</option>
						<option value="SK">Slovakia</option>
						<option value="SI">Slovenia</option>
						<option value="SB">Isole Salomone</option>
						<option value="SO">Somalia</option>
						<option value="ZA">Sud Africa</option>
						<option value="GS">Georgia del Sud e isole Sandwich
							meridionali</option>
						<option value="SS">Sudan del Sud</option>
						<option value="ES">Spagna</option>
						<option value="LK">Sri Lanka</option>
						<option value="SD">Sudan</option>
						<option value="SR">Suriname</option>
						<option value="SJ">Svalbard e Jan Mayen</option>
						<option value="SZ">Swaziland</option>
						<option value="SE">Svezia</option>
						<option value="CH">Svizzera</option>
						<option value="SY">Repubblica araba siriana</option>
						<option value="TW">Taiwan, Province of China</option>
						<option value="TJ">Tagikistan</option>
						<option value="TZ">Tanzania, Repubblica Unita di</option>
						<option value="TH">Thailand</option>
						<option value="TL">Timor-Leste</option>
						<option value="TG">Togo</option>
						<option value="TK">Tokelau</option>
						<option value="TO">Tonga</option>
						<option value="TT">Trinidad e Tobago</option>
						<option value="TN">Tunisia</option>
						<option value="TR">Turkey</option>
						<option value="TM">Turkmenistan</option>
						<option value="TC">Isole Turks e Caicos</option>
						<option value="TV">Tuvalu</option>
						<option value="UG">Uganda</option>
						<option value="UA">Ukraine</option>
						<option value="AE">Emirati Arabi Uniti</option>
						<option value="GB">Regno Unito</option>
						<option value="US">Stati Uniti</option>
						<option value="UM">Isole minori secondarie degli Stati
							Uniti</option>
						<option value="UY">Uruguay</option>
						<option value="UZ">Uzbekistan</option>
						<option value="VU">Vanuatu</option>
						<option value="VE">Venezuela, Repubblica Bolivariana di</option>
						<option value="VN">Viet Nam</option>
						<option value="VG">Isole Vergini britanniche</option>
						<option value="VI">Isole Vergini, Stati Uniti</option>
						<option value="WF">Wallis e Futuna</option>
						<option value="EH">Western Sahara</option>
						<option value="YE">Yemen</option>
						<option value="ZM">Zambia</option>
						<option value="ZW">Zimbabwe</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<label for="cap">CAP <span
						th:if="${#fields.hasErrors('CAP')}" th:errors="*{CAP}"></span></label> <input
						th:field="*{CAP}" type="text" class="form-control" id="CAP" />
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Invia</button>
		</form>
	</div>

	<!-- JS Per alcune animazioni di Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


</body>
</html>