<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head profile="http://www.w3.org/2005/10/profile">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SiLPH Inc.</title>

<!-- Link per Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!--  Link per le icone di FontAwesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">


<link rel="stylesheet" href="CSS/hover.css">
<link rel="stylesheet" href="CSS/silphbar.css">
<link rel="stylesheet" href="CSS/fotocell.css">
</head>

<link
	href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Staatliches|Oswald|Ubuntu&display=swap"
	rel="stylesheet">

<body>


	<!-- Inizio Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/"> <i
			class="fas fa-camera-retro fa-fw silphbar-icon"></i>Silph Inc.
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/listFotografi">Fotografi</a></li>
				<li class="nav-item"><a class="nav-link" href="/listAlbum">Album</a></li>
				<li class="nav-item"><a class="nav-link" href="/listFoto">Fotografie</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" th:href="@{/listModuli}" style="color: #4169E1;">Moduli</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" th:href="@{/newFotografo}" style="color: #4169E1;">Aggiungi Fotografo</a></li>
				<li class="nav-item" sec:authorize="isAnonymous()"><a
					class="nav-link" th:href="@{/loginFunzionario}"
					style="color: #4169E1;">Login</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="javascript: document.logoutForm.submit()"
					style="color: #4169E1;">Logout</a></li>
				<li sec:authorize="isAnonymous()" th:if="${session.fotoRichiesta != null}" class="nav-item"><a
					class="nav-link" th:href="@{/newModulo}"><i
						th:if="${session.fotoRichiesta.size() > 0}"
						class="fas fa-file-alt" style="color: #4169E1"><span
							th:text="${session.fotoRichiesta.size()}"
							style="color: #A4DE02; margin-left: 0.5rem;"></span></i></a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<form th:action="@{/search}" class="form-inline my-2 my-lg-0">
					<select class="form-control" name="entity">
					<option value="FOTO">Foto</option>
					<option value="ALBUM">Album</option>
					<option value="FOTOGRAFO">Fotografo</option></select>
						<input class="form-control mr-sm-2" type="search"
							placeholder="Cerca" aria-label="Cerca" name="query">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<form sec:authorize="isAuthenticated()" name="logoutForm"
		th:action="@{/logout}" method="post" th:hidden="true">
		<input hidden="true" type="submit" value="Sign Out" />
	</form>
	<!-- Fine Navigation Bar -->



	<!-- sezione tiles fotografi -->
	<div class="container-fluid mt-4">

		<div class="row justify-content-center">

			<div th:each="fotografo : ${fotografiPage.content}"
				class="col-auto mb-1 fotocell">
				<div class="card" style="width: 20rem;">
					<div class="hovereffect">
						<a th:href="@{'/fotografo' + '/' + ${fotografo.id}}"><img
							class="card-img fitSize"
							th:attr="src=@{'/immagine' + '/' + ${fotografo.getImmagineProfilo().getId()}}"></a>
						<div class="overlay">
							<h4 th:text="${fotografo.nome} + ' ' + ${fotografo.cognome}"
								class="card-title">Nome Cognome</h4>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<nav aria-label="Navigatore pagine Fotografi"
		class="justify-content-center">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:if="${fotografiPage.totalPages > 0}"
				th:each="pageNumber : ${pageNumbers}"><a
				th:href="@{/listFotografi(size=${fotografiPage.size}, page=${pageNumber})}"
				th:text=${pageNumber}
				th:class="(${pageNumber==fotografiPage.number + 1} ? active + ' ' + 'selected-entry') + ' ' + 'page-link' "></a></li>
		</ul>
	</nav>






	<!-- JS Per alcune animazioni di Bootstrap (ad esempio il menù Dropdown) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>

</html>