@charset "UTF-8";

.jumbotron {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-align: center;
	border-radius: 0;
	margin-bottom: 1.875rem;
	margin-top: 0rem;
	background-size: cover;
}

#foto-jumbotron {
	background-image:
		url("http://localhost:8080/SILPHsrl/Data/homepage-photo-background.jpg");
}

#album-jumbotron {
	background-image:
		url("http://localhost:8080/SILPHsrl/Data/homepage-album-background.jpg");
}

#fotografi-jumbotron {
	background-image:
		url("http://localhost:8080/SILPHsrl/Data/homepage-fotografi-background.jpg");
}



/* Stile dei LINK */

.link{
	color: #ffffff;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Roboto Slab', serif;
}

.link{
	position: relative;
	z-index: 1;
	display: inline-flex;
	
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;

}

.link::before{
	content: "";
	width: 100%;
	height: 80%;
	background: rgba(0, 0, 0, 0.7);
	/*background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);*/
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	
	will-change: width;
	/*transform: rotate(-2deg);*/
	transform-origin: left bottom
}

.link:hover {
	color: #ffffff;
	text-decoration: none;
}

.link:hover::before{
	width: 0;
}

/*
* Animazione link
*/

.link::before{
	transition: width .1s ease-out;
}

.link:hover::before{
	transition-duration: .15s;
}