.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	width: 100%;
	height: 15%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.25)
		75%, rgba(0, 0, 0, 0) 100%);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.hovereffect h4 {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 5px;
}

.hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity = 100);
}